
body{
    background:#fff none repeat scroll 0%;
    line-height:1;
    font-size: 16px;
    font-family: Verdana, Helvetica;
    height:100%;
}

h1 {
    color:#6FA5FD;
    font-size:150%;
    font-weight:700;
    text-align: center;
}

h3 {
    font-weight: bold;
}

table {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    width: 100%;
}

.bordered {
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc;
    -moz-box-shadow: 0 1px 1px #ccc;
    box-shadow: 0 1px 1px #ccc;
}

.bordered td, .bordered th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.bordered th {
    background-color: #dce9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:    -moz-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:     -ms-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:      -o-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:         linear-gradient(top, #ebf3fc, #dce9f9);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.bordered td:first-child, .bordered th:first-child {
    border-left: none;
}

.bordered th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.bordered th:only-child {
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

a {
    cursor: pointer;
    text-decoration:none;
}
br.both {
    clear:both;
}

.button {
    font-weight:bold;
}

.units {
    color:#606060;
    font-size:80%;
    font-weight:200;
}

.label {
    color:#1F55AD;
    font-weight:500;
}

.status {
    color:#404040;
}

.tempty {
    background-color:#202020;
}

#intro,#origin,#ranges {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

textarea {
    padding: .5em .25em;
    border-top:1px solid #202020;
    border-bottom:1px solid #202020;
    border-left:1px solid #202020;
    border-right:1px solid #202020;
}

#file {
    display: none;
    float: right;
    width: 25%;
    margin-right: 10%;
}

#plot {
    clear: both;
    margin-left: 45%;
    margin-right: auto;
    margin-bottom: 2em;
}

#rangeplot {
    float: left;
}
